* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: #f7f8f9;
}
/* navbarcss */
.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
    border-bottom: 1px solid rgb(212, 212, 212);
    background-color: rgb(14, 68, 134);
}

.upper ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    font-weight: 700;
    font-size: 18px;
}

.upper ul li a {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 20px;
}

.upper ul li a:hover {
    color: #a0c3ff;
    text-decoration: underline;
}

.searchbox {
    display: flex;
    border-radius: 5px;
}

.mainbdy img {
    width: 100px;
}

.lower {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.lower ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    font-size: 16px;
    padding: 0 10px;
}

.lower ul li a {
    color: black;
    text-decoration: none;
}

.lower ul li a:hover {
    color: #a0c3ff;
    text-decoration: underline;
}

.searchclass {
    width: 550px;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px 0 0 6px;
}

.searchbox i {
    background-color: black;
    color: white;
    padding: 14px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.upper ul li i {
    font-size: 20px;
}

.category ul li ul {
    display: none;
    position: absolute;
    background-color: rgb(250, 250, 250);
    padding: 0px 10px;
    border: 1px solid rgb(225, 225, 225);
}

.category ul li:hover ul {
    display: block;
}

.category ul li {
    position: relative;
    display: block;
}

.category ul li a {
    font-weight: 700;
}

.category ul li ul li a {
    font-weight: 100;
    font-size: 15px;
}

.category ul li ul p {
    font-weight: 700;
    padding: 15px 5px;
    border-bottom: 1px solid silver;
}

/* ====================================================productimagecss========================================================  */
.product_img {
    width: 1200px;
    display: flex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    /* background-color: aqua; */
    z-index: -50;
    /* display: block; */

}

.productdescription {
    width: 700px;
    border-radius: 4px;
    background-color: black;
    /* display: flex; */
    /* margin-bottom: 50px; */
    /* background-color: rgb(27, 16, 85); */
}

.productdescription img {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

#prev {
    color: white;
}

#nex {
    color: white;
}
/* ====================================================productdescription========================================================  */
.description{
    /* margin: 20px ; */
    padding: 20px;
    border: 1px solid rgb(179, 178, 178);
    background-color: white;
    border-radius: 2px;
}
.description h3{
    font-size: 20px;
    padding: 4px;
}
.description p{
    padding: 4px;
    line-height: 25px;
}
/* ====================================================productdetails========================================================  */
.productdetails{
    width: 400px;
    margin-left: 10px;
}
/* ====================================================box1========================================================  */
.box{
    background-color: white;
    border: 1px solid rgb(179, 178, 178);
    border-radius: 5px;
}
.price{
    display: flex;
    justify-content: space-between;
} 
.price h3{
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}
.price p{
    font-size: 25px;
    font-weight: normal;
    float: left;
    margin-right: 10px;
    padding: 10px 0px 10px 10px;
    cursor: pointer;
}
.box span{
    color: #757674;
    padding: 0 0 10px 10px;
}
.location{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    padding: 15px 10px 15px 10px;
}
/* ====================================================box1========================================================  */
.seller_details img{
    width: 55px;
    border-radius: 50%;
    margin: 10px 10px 5px 10px;

}
.seller_details{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}
.seller_description{
    font-size: 17px;
    color: #212f34;
    padding: 10px 0 10px 5px;
}
.seller_details h2{
    font-size: 18px;
}
.seller_details p{
    font-size: 13px;
}
.box a{
    text-decoration: none;
    color: black;
    padding: 10px 125px;
    border: 2px solid black;
    margin: 10px;
    transition:all 0.3s;
}
.box a:hover{
    border: 4px solid black;

}
#box2{
    height: 170px;
    margin-top: 10px;
}








